# Mac Crap
.DS_Store

# Directories
/node_modules/
/dist/

# Including plugins that can't be built in with Docker
!/dist/wp-content/plugins/elegant-themes-updater/
!/dist/wp-content/plugins/gravityforms/
!/dist/wp-content/themes/Divi/

# Including Uploads
!/dist/wp-content/uploads/
